@page "/AdminMainMenu"
@layout AdminLayout
@using FlightManagementBlazorServer.Services
@inject FlightService _flightService;
@inject NavigationManager _navigationManager;


<h3>Welcome, Admin</h3>

@code {
    
}
