@page "/CheckInMainMenu"
@layout CheckInLayout
@using FlightManagementBlazorServer.Services
@inject FlightService _flightService;
@inject NavigationManager _navigationManager;


<h3>Welcome, CheckIn</h3>

@code {
    
}
